input,
select {
	border: 2px solid #000;
	font-size: 16px;
	background-color: #fff;
	color: #000;
}

button {
	border: 2px solid #000;
	box-shadow: 5px 5px;
	cursor: pointer;
	height: 26px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
}

button:hover {
	background-color: #ccc;
}

form {
    padding: 10px 15px;
}

div.button-wrapper {
    padding-top: 30px;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}