.error-container {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
	padding: 0 0 0 0;
    margin-top: 10px;
    margin-bottom: -10px;
	font-size: 12px;
	color: #e33 !important;
}

.error-container div {
    display: none;
    margin-top: -15px;
}

#error-message {
    display: none;
    margin-top: -20px;
    margin-bottom: -15px !important;
    padding-bottom: 12px;
    color: #e33 !important
}