body {
	display: flex;
	justify-content: center;
	padding-top: 30px;
}

.main {
    width: 900px;
    min-height: 500px;
    display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	padding-top: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.incoming-goods {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.incoming-goods div.input-container{
    width: 450px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-property {
	align-items: baseline;
}