body {
	display: flex;
	justify-content: center;
	padding-top: 50px;
}
.center-welcome {
    width: 900px;
    min-height: 250px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	padding-top: 4%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.center-welcome div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.placeholder {
	color: #58595B;
}
