body {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.main {
    width: 900px;
    min-height: 400px;
    display: flex;
	flex-direction: column;
	text-align: center;
	align-self: center;
	padding-top: 2%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#message-container {
    display: none;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: -64px !important;
}

.main div {
    margin-bottom: 20px;
}

.date-input-container, 
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-input-container {
    padding-top: 34px;
}

.date-input-container div.date-picker-wrapper{
    width: 450px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgba(0, 0, 0, 0.60);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(0, 0, 0, 0.60);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
